* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colours */
    --colour-transparent-white: hsla(0, 0%, 100%, 0.75);
    --colour-orange: hsl(31, 77%, 52%);
    --colour-white: rgb(255, 255, 255);
    --colour-dark-cyan: hsl(184, 100%, 22%);
    --colour-very-dark-cyan: hsl(179, 100%, 13%);

    /* font families */
    --font-big-shoulders: "Big Shoulders Display", sans-serif;
    --font-lexend-deca: "Lexend Deca", sans-serif;

    /* font weights */
    --font-weight-light: 350;
    --font-weight-semi-bold: 615;
}

/* @!MOBILE (<992PX) */

body {
    background-color: var(--colour-transparent-white);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 0.9375rem;
}

/* main element */
#cards-container {
    margin: clamp(4rem, 15%, 7.5rem) 0;
    display: flex;
    flex-direction: column;
    width: 90%;
}

/* targets all cards */
.card {
    padding: clamp(1rem, 14%, 2.8125rem);
}

/* !General styles for all cards (block, element) */

.card__illustration {
    width: 3.4375rem;
}

/* div containing header and text cont */
.card__heading-and-text-cont {
    margin-bottom: clamp(1.25rem, 9.5%, 2.5rem);
}

.card__heading {
    font-family: var(--font-big-shoulders);
    font-weight: var(--font-weight-semi-bold);
    color: var(--colour-white);
    font-size: clamp(1.875rem, 11vw, 2.5rem);
}

.card__illustration,
.card__heading {
    margin-bottom: clamp(0.9375rem, 7%, 1.5625rem);
}

.card__paragraph {
    color: var(--colour-transparent-white);
    letter-spacing: 0.0375rem;
    line-height: 1.6;
    font-size: clamp(0.75rem, 4vw, 1rem);
    font-weight: var(--font-weight-light);
}

.card__paragraph,
.card__button {
    font-family: var(--font-lexend-deca);
}

.card__button {
    font-weight: var(--font-weight-light);
    letter-spacing: 0.025rem;
    border: 0;
    border-radius: 3.125rem;
    padding: 0.75rem 1.5625rem;
}

.card__button:hover {
    outline: 0.125rem solid var(--colour-white);
    background-color: inherit;
    color: var(--colour-white);
}

/* !Styles for individual cards (modifier)*/
.card--orange {
    border-radius: 0.375rem 0.375rem 0 0;
    background-color: var(--colour-orange);
}

.card--dark-cyan {
    background-color: var(--colour-dark-cyan);
}

.card--very-dark-cyan {
    border-radius: 0 0 0.375rem 0.375rem;
    background-color: var(--colour-very-dark-cyan);
}

.card__button--orange-text {
    color: var(--colour-orange);
}

.card__button--dark-cyan-text {
    color: var(--colour-dark-cyan);
}

.card__button--very-dark-cyan-text {
    color: var(--colour-very-dark-cyan);
}

/* @!MOBILE (>=992PX) */

@media only screen and (min-width: 62rem) {
    /* main element */
    #cards-container {
        width: clamp(54.25rem, 70%, 56.25rem);
        flex-direction: row;
    }

    .card--orange {
        border-radius: 0.375rem 0 0 0.375rem;
    }

    .card--very-dark-cyan {
        border-radius: 0 0.375rem 0.375rem 0;
    }

    .card__paragraph {
        font-size: 0.875rem;
    }

    .card__illustration,
    .card__heading {
        margin-bottom: 1.5625rem;
    }

    /* div containing header and text cont */
    .card__heading-and-text-cont {
        margin-bottom: 4.5rem;
    }
}
